<div
  class="m-0 bg-gray-900 flex justify-between px-10 py-5 fixed top-0 left-0 right-0 z-40"
>
  <div
    class="text-2xl border-2 border-solid text-slate-200 border-slate-200 py-1 px-3"
  >
    <a routerLink="/"><button enable="enable">LOREM IPSUM</button></a>
  </div>

  <div *ngIf="!isOpen; else elseBlock" class="self-center">
    <div class="space-y-2 cursor-pointer" (click)="toggleMenu()">
      <span class="block w-8 h-1 bg-slate-200"></span>
      <span class="block w-8 h-1 bg-slate-200"></span>
      <span class="block w-8 h-1 bg-slate-200"></span>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="space-y-2 self-center cursor-pointer">
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="121.31px"
        viewBox="0 0 121.31 122.876"
        enable-background="new 0 0 121.31 122.876"
        xml:space="preserve"
        class="w-7"
        fill="white"
      >
        <g>
          <path
            fill-rule="evenod"
            clip-rule="evenodd"
            d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
          />
        </g>
      </svg>
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>
