<div class="page-container">
  <app-header
    (toggleSideBar)="menuToggle($event)"
    [isOpen]="menuOpen"
  ></app-header>
  >
  <app-sidebar
    [toggleMenuOpen]="menuOpen"
    (toggleMenuClose)="toggleCloseMenu()"
  ></app-sidebar>

  <app-footer></app-footer>
</div>
