<div
  class="h-screen bg-gray-800 text-slate-100 z-20 fixed top-0 bottom-0 sidebar shadow-xl pt-16 z-50"
  [ngClass]="{ '-right-96': !toggleMenuOpen, 'right-0': toggleMenuOpen }"
>
  <div class="absolute -top-10 right-3 cursor-pointer" (click)="closeMenu()">
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="121.31px"
      height="122.876px"
      viewBox="0 0 121.31 122.876"
      enable-background="new 0 0 121.31 122.876"
      xml:space="preserve"
      class="w-6"
      fill="white"
    >
      <g>
        <path
          fill-rule="evenod"
          clip-rule="evenodd"
          d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
        />
      </g>
    </svg>
  </div>
  <div
    class="text-4xl border-2 text-center border-solid text-slate-200 border-slate-200 py-1 px-2 mx-5"
  >
    LOREM IPSUM
  </div>
  <div class="flex flex-col items-center px-20 justify-center h-full">
    <a
      routerLink="/"
      class="text-4xl py-1 px-3 text-slate-200 hover:bg-slate-200 hover:text-emerald-900 rounded mx-2 my-8 transition ease-in-out transition-duration-300"
      ><button enable="enable" (click)="closeMenu()">Home</button></a
    >
    <a
      routerLink="/services"
      class="text-4xl py-1 px-3 text-slate-200 hover:bg-slate-200 hover:text-emerald-900 rounded mx-2 my-8 transition ease-in-out transition-duration-300"
      ><button enable="enable" (click)="closeMenu()">Services</button></a
    >
    <a
      routerLink="/#!"
      class="text-4xl py-1 px-3 text-slate-200 hover:bg-slate-200 hover:text-emerald-900 rounded mx-2 my-8 transition ease-in-out transition-duration-300"
      ><button enable="enable" (click)="closeMenu()">Careers</button></a
    >
    <a
      routerLink="/#!"
      class="text-4xl py-1 px-3 text-slate-200 hover:bg-slate-200 hover:text-emerald-900 rounded mx-2 my-8 transition ease-in-out transition-duration-300"
      ><button enable="enable" (click)="closeMenu()">About</button></a
    >
  </div>
</div>
