<div class="content-wrapper">
  <div class="text-5xl text-gray-900 text-center service-heading my-10">
    Our Services
  </div>
  <div class="flex justify-evenly py-15">
    <div class="flex flex-col justify-center items-center">
      <img src="../../assets/4462832.jpg" alt="workspave image" class="w-72" />
      <div class="text-2xl text-center text-gray-900 mt-5">
        Get realtime analytics
      </div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <img src="../../assets/5865550.jpg" alt="workspave image" class="w-96" />
      <div class="text-2xl text-center text-gray-900 mt-5">
        Collaborate with your team
      </div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <img src="../../assets/4462832.jpg" alt="workspave image" class="w-72" />
      <div class="text-2xl text-center text-gray-900 mt-5">
        Get your own domain
      </div>
    </div>
  </div>
  <div class="flex justify-around mt-10 bg-emerald-100 py-20">
    <div class="text-4xl text-gray-900 text-center my-5">
      Enjoy our free services out of the box! 🔥
    </div>
    <div class="text-4xl text-gray-900 text-center my-5">
      Upload, edit and deploy 🚀
    </div>
  </div>
</div>
