<div class="content-wrapper relative">
  <svg
    viewBox="0 0 200 200"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute -left-10 opacity-20 -z-10 -top-48"
    style="width: 850px"
  >
    <path
      fill="#00EDAB"
      d="M46.5,-56.1C57.3,-46.3,61.1,-28.9,56.4,-15.8C51.7,-2.8,38.4,5.9,31.5,18.4C24.5,30.9,23.9,47.4,14.3,59.7C4.8,71.9,-13.7,80.1,-25.7,74.2C-37.7,68.2,-43.3,48.2,-53.1,30.9C-62.8,13.5,-76.8,-1.3,-75.4,-14C-73.9,-26.7,-57.1,-37.4,-42,-46.5C-26.9,-55.5,-13.5,-63,2.2,-65.6C17.8,-68.2,35.6,-65.9,46.5,-56.1Z"
      transform="translate(100 100)"
    />
  </svg>

  <div class="h-full mt-48 flex justify-around items-center">
    <div class="ml-5 self-center">
      <div class="text-5xl hero-txt">Work Beyond your limits with</div>
      <div class="text-7xl text-emerald-900 hero-txt italic">LOREM IPSUM</div>
      <div class="mt-5 text-2xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        mollitia totam dolor possimus earum, velit provident eligendi?
        Molestiae, eligendi tempora dolores
      </div>
      <a routerLink="/services"
        ><button
          class="mt-6 text-xl py-5 px-4 bg-gray-900 text-slate-200 hover:bg-gray-800 rounded"
          enable="enable"
        >
          See our Services
        </button></a
      >
    </div>
    <div>
      <img
        src="../../assets/illustration-1.jpg"
        class="hero-image xl:w-auto lg:w-96"
        alt="hero image"
      />
    </div>
  </div>
  <div class="bg-emerald-100 flex justify-evenly py-10 mt-10">
    <div
      class="flex flex-col justify-center items-center bg-gray-900 text-slate-200 p-5"
    >
      <div class="feature-head text-3xl italic">Feature 1</div>
      <div class="about-feature text-xl text-center mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, in!
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center bg-gray-900 text-slate-200 p-5"
    >
      <div class="feature-head text-3xl italic">Feature 2</div>
      <div class="about-feature text-xl text-center mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, in!
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center bg-gray-900 text-slate-200 p-5"
    >
      <div class="feature-head text-3xl italic">Feature 3</div>
      <div class="about-feature text-xl text-center mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, in!
      </div>
    </div>
  </div>
</div>
