.content-wrapper {
  padding-bottom: 18rem;
}
.hero-image {
  max-width: 35rem;
}
.hero-txt {
  font-family: Rubik;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.hero-txt-lorem {
  font-style: italic;
}
.about-feature {
  max-width: 20rem;
}

.feature-head {
  font-family: Rubik;
  font-weight: 600;
}
