/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.content-wrapper {
  padding-bottom: 18rem;
}
* {
  font-family: Rubik;
}
body {
  margin: 0;
  padding: 0;
}
